@import "reset.css";
@import "landingpage/feed.css";
@import "landingpage/side-nav.css";
@import "landingpage/side-nav-right.css";

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}
