/* variables */
:root{
    --tw-blue: #1d9bf0;
    --tw-blue-hover: #e8f5fe;
    --tw-border-layout: #eff3f4;
    --tw-hover-grey: #e0e2e8;
    --tw-blue-light: #8ecdf7;
    --tw-grey-text: #aab2b9;
    --tw-bg-sidenav-right: #f7f9f9;
}

.sidenav-right{
    width: 25%;
    margin-left: 30px;
    padding-top: 10px;
}

.search-container{
    background: var(--tw-bg-sidenav-right);
    height: 40px;
    display: flex;
    border-radius: 35px;
    margin-bottom: 10px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
}
.search-input{
    border: none;
    background: var(--tw-bg-sidenav-right);
    width: 80%;
}
.popular-container{
    background: var(--tw-bg-sidenav-right);
    padding: 20px  20px;
    border-radius: 25px;
}
.popularforyou{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.popularforyou h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.popular-foryou-icon{
    text-align: center;
    cursor: pointer;
}